<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'Settings'|translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [fullscreen]="true"
    [scrollEvents]="true"
>
    <ion-list>
        <ion-item>
        <ion-select
            label="{{ 'UI Language'|translate }}"
            placeholder="{{ 'Select language...'|translate }}"
            [ngModel]="ui_lang"
            (ionChange)="changeLanguage($event.detail.value)"
        >
            <ion-select-option
                *ngFor="let lang of languages"
                [value]="lang.value"
            >{{ lang.label }}</ion-select-option>
        </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
