<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="contrast" (click)="dismiss()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-title>{{ !account?.id ? ('Add account'|translate) : ('Edit account'|translate)}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="accountForm" novalidate>
        <ion-item>
            <ion-label position="floating">
                {{ 'Account name'|translate }} <span class="text-danger">*</span>
            </ion-label>
            <ion-input class="ion-no-border" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                {{ 'Initial balance'|translate }}
            </ion-label>
            <ion-input type="number" class="ion-no-border" formControlName="initial_balance"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                {{ 'Description'|translate}}
                <small>
                    <sup>
                        <i>({{ 'optional'|translate }})</i>
                    </sup>
                </small>
            </ion-label>
            <ion-textarea class="ion-no-border" formControlName="description" [autoGrow]="true" [maxlength]="200" [rows]="5"></ion-textarea>
        </ion-item>
        <ion-item lines="full">
            <ion-checkbox slot="start" formControlName="active"></ion-checkbox>
            <ion-label>{{ 'Active'|translate }}</ion-label>
        </ion-item>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="bb-1 padding-x" color="warning">
        <ion-text>
            <span class="text-danger">*</span> - {{ 'required fields'|translate }}
        </ion-text>
    </ion-toolbar>
    <ion-toolbar>
        <ion-button
            *ngIf="account?.id"
            slot="start"
            fill="clear"
            color="danger"
            (click)="remove()"
        >
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button
            slot="end"
            fill="clear"
            color="dark"
            [disabled]="accountForm.untouched || !accountForm.valid"
            (click)="dismiss(true)"
        >
            <ion-icon slot="start" name="save-outline"></ion-icon>
            <ion-label>{{ 'Save'|translate }}</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-footer>
