<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="light" (click)="dismiss()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-title>Add category</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content
    [fullscreen]="true"
>
    <form [formGroup]="categoryForm" novalidate>
        <ion-item class="keyboard-input">
            <ion-label position="floating">Cateogory name</ion-label>
            <ion-input class="ion-no-border" formControlName="title"></ion-input>
        </ion-item>
        <app-icon-choose
            formControlName="icon"
            label="Category icon"
            [icons]="icons"
            (iconsInit)="afterIconsInit()"
        ></app-icon-choose>
        <ion-item lines="full" class="bt-1">
            <ion-checkbox slot="start" formControlName="enabled"></ion-checkbox>
            <ion-label>Enabled</ion-label>
        </ion-item>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="bb-1 padding-x" color="warning">
        <ion-text>
            <span class="text-danger">*</span> - required fields
        </ion-text>
    </ion-toolbar>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" color="danger" (click)="remove()">
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="dark" [disabled]="categoryForm.untouched || !categoryForm.valid" (click)="dismiss(true)">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            <ion-label>Save</ion-label>
        </ion-button>
    </ion-toolbar>
</ion-footer>
